* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 800px;
  margin: 80px auto;
  border: 4px solid #1c1917;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  background-color: #f5f5f4;
  padding: 12px 0;
  position: relative;
}

h2::before {
  content: "SALE";
  background: red;
  color: white;
  padding: 8px 16px;
  font-size: 12px;
  position: absolute;
  top: -15px;
  left: -30px;
}

p {
  margin-bottom: 10px;
}

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  color: #57534e;
  font-weight: 700;
  margin-bottom: 20px;
}

a:link,
a:visited {
  color: #57534e;
  font-size: 14px;
}

a:hover,
a:active {
  color: #292524;
}

h4 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 30px;
}

ul {
  margin-bottom: 16px;
}

li {
  list-style: square;
  margin: 10px 16px;
}

li:last-child {
  margin-bottom: 0;
}

button {
  background: #292524;
  border: none;
  color: #f5f5f4;
  font-size: 18px;
  text-transform: uppercase;
  padding: 16px;
  width: 100%;
}
img {
  margin-bottom: 10px;
}

.colors div {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-top: 20px;
  margin-right: 4px;
}

.colors div:nth-child(1) {
  background-color: black;
}

.colors div:nth-child(2) {
  background-color: blue;
}

.colors div:nth-child(3) {
  background-color: red;
}
.colors div:nth-child(4) {
  background-color: yellow;
}

.colors div:nth-child(5) {
  background-color: green;
}

.colors div:nth-child(6) {
  background-color: brown;
}
