body {
	color: #444;
	font-family: sans-serif;
}

h1,
h2,
h3 {
	color: #1098ad;
}

h1 {
	font-size: 26px;
	text-transform: uppercase;
	font-style: italic;
}

h2 {
	font-size: 40px;
	border-bottom: 5px solid #1098ad;
}

h3 {
	font-size: 30px;
}
h4 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
p {
	font-size: 22px;
	line-height: 1.5;
}

li {
	font-size: 20px;
}

/* footer p {
	font-size: 16px;
} */
/* article header p {
	font-style: italic;
} */

#author {
	font-style: italic;
	font-size: 18px;
}

#copyright {
	font-style: italic;
	font-size: 16px;
}

.related-author {
	font-size: 18px;
	font-weight: bold;
}

.related-list p {
	list-style: none;
}

.main-header {
	background-color: #f7f7f7;
}

aside {
	background-color: #f7f7f7;
	border-top: 5px solid #1098ad;
	border-bottom: 5px solid #1098ad;
}

/* .first-li {
	font-weight: bold;
} */

li:first-child {
	font-weight: bold;
}

li:last-child {
	font-style: italic;
}
/* style based on odd number of item, odd can be changed to even or a specific number 
li:nth-child(odd) {
	color: red;
}
*/

/* 
This selector selects the first child of the article, but will only color it black if its paragraph element, otherwise this does nothing.  In the case of our index, the <article> was the first child
article p:first-child {
	color: black;
} */

/* Styling Hyperlinks */
/* Style a elements with an href attrivute on them*/
a:link {
	color: #1098ad;
	text-decoration: none;
}

a:visited {
	/* color: #777; */
	color: #1098ad;
}

a:hover {
	color: orangered;
	font-weight: bold;
	text-decoration: underline orangered;
}
/* The state of actively clicking */
a:active {
	background-color: black;
	font-style: italic;
}

/* Resolving conflicts */
/*
footer p {
	color: blue !important;
}
*/

/* #copyright {
	color: red;
} */

/* .copyright {
	color: blue;
}

.text {
	color: yellow;
}

footer p {
	color: green;
} */

/* In this situation, this falls to the hierarchy of importance.  ID (#) will always have priority over classes (.) and child elements (footer p).  In a situation where both have the same hierarchy (the case with .copyright and .text) then the last one will become the priority, in this case the text became yellow instead of blue

Priority List 1 -> 10
High to Low
1 -> !important
2 -> inline styling
3 -> #
4 -> .
5 -> child element

*/
