/* 

--- 01 Typography system

- FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS
    default: 400;


- LINE HEIGHTS
    default: 1



--- 02 Color system

- Primary
    #e67e22

- Tints


- Shades

- Accents

- Greys
    #555

--- 03 Shadows

--- 04 Border-radius

--- 05 Whitespace

- SACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
