* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* .container {
  display: flex;
  gap: 40px;
  align-content: space-between;
} */

/* PRODUCT */
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
  grid-column: 1/-1;
}

/* PRODUCT INFORMATION */
.product-info {
  margin-top: 20px;
}

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;
}

.product-description {
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.colors {
  display: flex;
  gap: 10px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
}

.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}

/* PRODUCT DETAILS */
.product-details {
  margin-top: 20px;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* BUTTON */
.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
  grid-column: 1 / -1;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}
