* {
  /* border-top: 10px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */

body {
  font-family: sans-serif;
  color: #444;
  border-top: 15px solid rgb(99, 126, 184);
  position: relative;
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

article {
  margin-bottom: 60px;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid rgb(99, 126, 184);
  border-bottom: 5px solid rgb(99, 126, 184);
  padding: 50px 0;
}

nav {
  font-size: 22px;
  text-align: center;
}

/* smaller sections */

h1,
h2,
h3 {
  color: rgb(42, 99, 148);
}

h1 {
  font-size: 26px;
  text-transform: capitalize;
  font-style: italic;
  color: rgba(95, 192, 50, 0.705);
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin: 10px;
  /* display: inline; */
}

li:last-child {
  margin: 0;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li:last-child {
  margin-left: 10px;
}

#author {
  font-style: italic;
}

#copyright {
  font-size: 15px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}

li:first-child {
  font-weight: bold;
}

/* li:nth-child(odd) {
  color: red;
} */

a:link {
  color: rgb(87, 87, 189);
  text-decoration: none;
}

a:visited {
  /* color: #444; */
  color: rgb(87, 87, 189);
}

a:hover {
  font-weight: bold;
  color: orangered;
  text-decoration: solid underline black;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  /* margin: 20px;
  background-color: aqua;
  padding: 20px;
  display: block; */

  display: inline-block;
  margin-right: 30px;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;

  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* p::first-line {
  color: red;
} */

/* h3 + p::first-line {
  color: red;
} */

h2 {
  font-size: 35px;
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/*
.author-img {
  float: left;
  margin-bottom: 10px;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}


method 1

.clear {
  clear: both;
}

method 2

.clear-fix::after {
  content: "";
  display: inline-block;
  clear: both;
}

article {
  width: 825px;
  float: left;
}


aside {
  width: 300px;
  float: right;
  padding: 40px;
}


footer {
  clear: both;
}
*/

/* FLEXBOX */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}

.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

/* FLEXBOX */

/* .row {
  display: flex;
  align-items: flex-start;
  gap: 75px;
  margin-bottom: 60px;
}

article {
  flex: 1;
  margin-bottom: 0;
}

aside {
  flex: 0 0 300px;
} */
