* {
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}

body {
	font-family: sans-serif;
	line-height: 1.4;
}

p {
	margin-bottom: 20px;
}
.product-description {
	clear: both;
}

.product-container {
	border: black 4px solid;
	width: 900px;
	margin: 25px auto;
	position: relative;
}
.product-name {
	background: #f7f7f7;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
}

.product-name::after {
	content: 'SALE';
	position: absolute;
	top: 25px;
	left: -25px;
	background: red;
	color: white;
	letter-spacing: 2px;
	padding: 5px 5px;
	font-size: 12px;
	width: 80px;
	text-align: center;
}

.product-details {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 16px;
}

.shipping {
	text-transform: uppercase;
	font-weight: bold;
	color: #777;
	/* float: right; */
}

.price {
	font-size: 25px;
	margin-bottom: 0px;
	/* float: left; */
}

/* Link styling */
.homepage:link {
	color: #1098ad;
}

.homepage:visited {
	color: #1098ad;
}
.homepage:hover {
	color: orangered;
	text-decoration: none orangred;
}

a:link {
	color: black;
	text-decoration: underline black;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
	text-decoration: none;
}

/* Other stuff */

button {
	width: 100%;
	background-color: black;
	text-transform: uppercase;
	border: black solid 5px;
	color: white;
	font-size: 18px;
}

button:hover {
	color: black;
	background-color: white;
	border: black solid 5px;
	/* The above can be consolidated down into: 
  background-color: white
  filter:invert(100%) 
  */
}

ul {
	margin-left: 15px;
	margin-bottom: 10px;
}

ul li {
	list-style: square;
	margin-bottom: 10px;
}

nav {
	border: #1098ad solid 5px;
	background-color: #ad2510;
	opacity: 0.8;
	justify-content: center;
}

.colored-boxes > div {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.black {
	background-color: black;
	border: solid 5px black;
	width: 5px;
	height: 5px;
}
.blue {
	background-color: blue;
	border: solid 5px blue;
	width: 5px;
	height: 5px;
}
.red {
	background-color: red;
	border: solid 5px red;
	width: 5px;
	height: 5px;
}

.yellow {
	background-color: yellow;
	border: solid 5px yellow;
	width: 5px;
	height: 5px;
}
.green {
	background-color: #00d500;
	border: solid 5px #00d500;
	width: 5px;
	height: 5px;
}
.brown {
	background-color: brown;
	border: solid 5px brown;
	width: 5px;
	height: 5px;
}

/* Floats */
.product-image {
	/* float: left; */
	margin-right: 40px;
}

.product-details-container {
	/* background-color: yellow; */
	/* width: 243px; */
	height: 250px;
	/* float: left; */
	padding: 0px 40px;
	/* margin-top: 20px; */
}

.shippipng-container {
	display: flex;
}
.product-info-container {
	/* width: 243px; */
	/* background-color: blue; */
	/* float: left; */

	height: 250px;
	margin-right: 40px;
	/* margin-top: 20px; */
}
