* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	line-height: 1.4;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.product-img {
}

/* PRODUCT */
.product {
	display: grid;
	grid-template-columns: 250px 1fr 1fr;
	column-gap: 40px;
	border: 4px solid black;
	width: 825px;
	margin: 50px auto;
	position: relative;
}

.product-title {
	grid-column: 1 /-1;
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	background-color: #f7f7f7;
	padding: 15px;
}

/* PRODUCT INFORMATION */
.product-info {
	/*  (825 - 8 - 250 - 80) / 2  */
	/*   width: 243px; */
	flex: 1;
	margin-top: 20px;
}

.product-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.price {
	font-size: 24px;
}

.shipping {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: #777;
}

.sale {
	background-color: #ec2f2f;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 7px 15px;
	display: inline-block;
	position: absolute;
	top: -17px;
	left: -38px;

	/*   width: 40px;
  text-align: center; */
}

.product-description {
	margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
	color: black;
	margin-bottom: 30px;
	display: inline-block;
}

.more-info:hover,
.more-info:active {
	text-decoration: none;
}

.product-colors {
	display: flex;
	gap: 10px;
}

.color {
	background-color: #000;
	height: 22px;
	width: 22px;
}

.color-blue {
	background-color: #2f6ee2;
}
.color-red {
	background-color: #ec2f2f;
}
.color-yellow {
	background-color: #f0bf1e;
}
.color-green {
	background-color: #90cc20;
}
.color-brown {
	background-color: #885214;
}

/* PRODUCT DETAILS */
.product-details {
	/*   width: 243px; */
	margin-top: 20px;
	flex: 1;
}

.details-title {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 15px;
}

.details-list {
	list-style: square;
	margin-left: 20px;
}

.details-list li {
	margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
	grid-column: 1 / -1;
	background-color: #000;
	border: none;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	border-top: 4px solid black;
}

.add-cart:hover {
	color: #000;
	background-color: #fff;
}
